<!-- <div class="yesNoPopup" ng-if='dash.yesNoPopupVariable'>
  <div class="xOutPopup" ng-click='dash.closePopup()'>
    X
  </div>
  <div class="yesNoContainer col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 ">
    <div class="popupImageFrame col-md-6 col-sm-12">
      <img src="{{dash.currentPhoto.photo.url}}" ng-if="!dash.currentPhoto.isVideo"/ class='' id="{{dash.currentPhoto.submission}}">
      <video ng-src="{{dash.currentPhoto.url | trustUrl}}" ng-if="dash.currentPhoto.isVideo" id="{{dash.currentPhoto.submission}}" controls></video>
    </div>
    <div class="popupInfoContainer col-md-6 col-sm-12"> -->
      <!-- <p>
        who: <span ng-repeat='person in dash.currentPhoto.photosubjects'>{{person}}, </span>
      </p> -->
      <!-- <p>
        where: {{dash.currentPhoto.meta.location}}
      </p>
      <p>
        when: {{dash.currentPhoto.meta.dateTaken}}
      </p>
      <p>
        time: {{dash.currentPhoto.meta.timeTaken}}
      </p>
      <input type="text" placeholder='enter price' class='popupPrice'>
      <div class="singleYesNoContainer col-md-6 col-md-offset-3 col-sm-12 col-xs-12 col-xs-offset-0">
        <div class="yesTab selectionTab col-sm-6 col-xs-6" ng-click='dash.submitSuccessPhoto(dash.currentPhoto)' id='{{dash.currentPhoto._id}}'>
          Sell
        </div>
        <div class="noTab selectionTab col-ms-6 col-xs-6" ng-click='dash.rejectPhoto(dash.currentPhoto); dash.yesNoPopupVariable = false;'>
          Reject
        </div>
        <div class="downTab selectionTab col-sm-12 col-xs-12" ng-click='dash.downloadPhoto(dash.currentPhoto); dash.yesNoPopupVariable = false;'>
          Download
        </div>
      </div>
    </div>
    <div class="col-xs-12">

    </div>
  </div>
</div>
<div class="tabsContainer row">
  <div class="photoCarouselTab photoTab col-xs-4" ng-click='dash.tabController($event)'>
    Stream
  </div>
  <div class="photoAllTab photoTab col-xs-4" ng-click='dash.tabController($event)'>
    All
  </div>
  <div class="photoSoldTab photoTab col-xs-4" ng-click='dash.tabController($event)'>
    Sold
  </div>
</div>
<div class="photoStreamContainer" ng-if="dash.currentTab == 'photoStream'">
  <div class="singlePhotoFrame col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
    <img ng-src="{{dash.currentPhoto.url}}"/>
  </div>
  <div class="singleYesNoContainer col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
    <div class="yesTab selectionTab col-xs-6" ng-click='dash.yesNoPopup()'>
      Sell
    </div>
    <div class="noTab selectionTab col-xs-6" ng-click='dash.rejectPhoto(dash.currentPhoto._id); dash.nextCarousel()'>
      Reject
    </div>
  </div>
</div>
<div class="photosContainer" ng-repeat='photo in dash.allPhotos' ng-if="dash.currentTab == 'allPhotos'">
  <div class="photoFrame col-sm-4 col-xs-6" >
    <img class='photoImage' ng-src="{{photo.photo.url}}" id='{{photo.submission}}' ng-click='dash.submitPhoto(photo)' ng-if="photo.photo.isVideo == false" />
    <video ng-src="{{photo.url | trustUrl}}" ng-click='dash.submitPhoto(photo)' ng-if="photo.isVideo" poster="{photo.thumbnail}" controls></video> -->
    <!-- <h2 class="photoName">{{photo.photosubjects[0]}}</h1> -->
  <!-- </div>
</div>
<div class="soldPhotosContainer" ng-repeat='soldphoto in dash.soldPhotos' ng-if="dash.currentTab == 'soldPhotos'">
  <div class="photoFrame col-sm-4 col-xs-6">
    <div class="soldPriceOverlay">
      ${{soldphoto.price}}
    </div>
    <img class='photoImage' src="{{soldphoto.url}}" alt="" />
  </div>
</div> -->

<div class="submissionsContainer">
  <div class="submissionsAllTabsHolder" ng-if='dash.submissionsOpen || dash.submissionsOpenAll || dash.allSaved'>
    <span class='allNewPhotosTab photoTab col-xs-4' ng-click='dash.unprocessedSubmissionsFunc()'>New Submissions</span>
    <span class='allPhotosTab photoTab col-xs-4' ng-click='dash.allSubmissionsFunc()'>All Submissions</span>
    <span class='allPhotosTab photoTab col-xs-4' ng-click='dash.openAllSaved()'>All Saved</span>
  </div>

  <!-- photo carousel modal -->
  <div class="photoCarousel" ng-if='dash.openCarousel'>
    Carousel
  </div>

  <!-- single submission modal -->
  <div class="singleSubmissionContainer" ng-if='dash.singleSubmissionOpen'>
    <!-- {{dash.activeSubmission}} -->
    <div class="singleSubmissionHeader">
      <div class="singleBack col-xs-4" ng-click='dash.backToList()'>
        <i class='fa fa-chevron-left'></i>Back

      </div>
      <div class="singleSelect col-xs-4 col-xs-offset-4" ng-click='dash.activateSelection()' ng-if='!dash.selectionActive'>
        Select
      </div>
      <div class="singleSelect singleSelected col-xs-4 col-xs-offset-4" ng-if='dash.selectionActive' ng-click='dash.activateSelection()'>
        Select
      </div>
    </div>

    <!-- all photos modal -->
    <div class="singleAllPhotosContainer" ng-if='!dash.allPhotosSubmission'>
      <div class="singlePhotoCell" ng-repeat='photo in dash.activeSubmission.photos'>
        <img src="{{photo.thumbnail}}" class='col-xs-4 col-md-3' ng-if='photo.status==="submitted for sale"' ng-click='dash.photoClickFunc($event)' id='{{photo._id}}'/>
        <!-- <video src="{{photo.thumbnail | trustUrl}}"  class='col-xs-4 col-md-3' ng-if='photo.isVideo && photo.status==="submitted for sale"' ng-click='dash.photoClickFunc($event)' id='{{photo._id}}'></video> -->
      </div>
    </div>
    <div class="singleAllPhotosContainer" ng-if='dash.allPhotosSubmission'>
      <div class="singlePhotoCell" ng-repeat='photo in dash.activeSubmission.photos'>
        <img src="{{photo.thumbnail}}" class='col-xs-4 col-md-3' ng-click='dash.photoClickFunc($event)' id='{{photo}}'/>
        <!-- <video src="{{photo.thumbnail | trustUrl}}"  class='col-xs-4 col-md-3' ng-if='photo.isVideo && photo.status==="submitted for sale"' ng-click='dash.photoClickFunc($event)' id='{{photo._id}}'></video> -->
      </div>
    </div>

    <div class="singleMetaDataHolder">
      <span class='col-xs-12 submissionWho'>{{dash.activeSubmission.metadata.who}}</span><span class='col-xs-6'>{{dash.activeSubmission.metadata.what}}</span><span class='col-xs-16'>{{dash.activeSubmission.metadata.date.split(',')[0]}}</span>
    </div>
    <div class="savedEmailAll" ng-click='dash.getOldSubmissionPhotos()' ng-if='dash.allPhotosSubmission'>
      Get These Photos
    </div>
    <div class='selectButtonHolder' ng-click='dash.selectionActive' ng-if='dash.selectionActive && !dash.allPhotosSubmission'>
      <span class="rejectButton submitButton col-xs-6" ng-click="dash.saveOrRejectFunc('reject')">Reject All</span>
      <span class="acceptButton submitButton col-xs-6" ng-click='dash.saveOrRejectFunc("save")'>Save All</span>
    </div>
  </div>
  <!-- /////begin repeat -->
  <div class="submissionCell" ng-repeat='submission in dash.allSubmissions' ng-if='dash.submissionsOpen && submission.status==="pending"' ng-click='dash.openSingleSubmission(submission)'>
    <!-- {{submission}} -->
    <div class="submissionImageHolder">
      <img src="{{submission.photos[0].thumbnail}}" alt="" />
    </div>
    <div class="submissionDataHolder">
      {{submission.metadata.date}}<br>{{submission.metadata.who}}<br>{{submission.metadata.what}}
    </div>
  </div>
  <!-- begin all statuses repeat -->
  <div class="submissionCellAll" ng-repeat='submission in dash.allSubmissions' ng-if='dash.submissionsOpenAll' ng-click='dash.openSingleSubmission(submission)'>
    <!-- {{submission}} -->
    <div class="submissionImageHolder">
      <img src="{{submission.photos[0].thumbnail}}" alt="" />
    </div>
    <div class="submissionDataHolder">
      {{submission.metadata.date}}<br>{{submission.metadata.who}}<br>{{submission.metadata.what}}
    </div>
  </div>
  <!-- all saved photos modal -->
  <div class="allSavedPhotosContainer" ng-if='dash.allSaved'>
    <div class="col-xs-4 col-xs-offset-8">
      Select
    </div>
    <div class="savedPhotosContainer">
      <div class="savedPhotoCell col-xs-4 col-sm-3 col-md-2" ng-repeat='photo in dash.savedPhotos'>
        <img src="{{photo.url}}" alt="" />
      </div>
    </div>
    <div class="savedEmailAll" ng-click='dash.getSavedPhotos(dash.savedPhotos)'>
      Get These Photos
    </div>
  </div>
</div>
