

<div class="submissionsContainer">
  <div class="submissionsAllTabsHolder" ng-if='dash.submissionsOpen || dash.submissionsOpenAll'>
    <span class='allNewPhotosTab photoTab col-xs-4' ng-click='dash.unprocessedSubmissionsFunc()'>New Submissions</span>
    <span class='allPhotosTab photoTab col-xs-4' ng-click='dash.allSubmissionsFunc()'>All Submissions</span>
    <span class='allPhotosTab photoTab col-xs-4' ng-click='dash.openAllSaved()'>All Saved</span>
  </div>

  <!-- photo carousel modal -->
  <div class="photoCarousel" ng-if='dash.openCarousel'>
    <div class="carouselImageHolder">
      <div class="carouselX" ng-click='dash.exitCarousel()'>
        <p class='fa fa-times'></p>
      </div>
      <img src="{{currentCarPhoto.url}}" alt="" id='carouselMainImage' ng-if="!currentCarPhoto.isVideo" ng-swipe-right='dash.acceptSinglePhoto(currentCarPhoto, dash.activeSubmission._id, "accept")' ng-swipe-left='dash.acceptSinglePhoto(currentCarPhoto, dash.activeSubmission._id, "reject")'/>
      <video ng-src="{{currentCarPhoto.url | trustUrl}}" poster='{{currentCarPhoto.thumbnail}}' id='carouselMainImage' ng-if="currentCarPhoto.isVideo" controls ng-swipe-right='dash.acceptSinglePhoto(currentCarPhoto, dash.activeSubmission._id, "accept")' ng-swipe-left='dash.acceptSinglePhoto(currentCarPhoto, dash.activeSubmission._id, "reject")'></video>
      <div class="saveSingle">
        <i class='saveSingleIcon fa fa-download' ng-click='dash.acceptSinglePhoto(currentCarPhoto, dash.activeSubmission._id, "accept")' ng-if='!dash.allSaved'></i>
        <i class='saveSingleIcon fa fa-download' ng-click='dash.getBase64FromImageUrl(currentCarPhoto)' ng-if='dash.allSaved && !currentCarPhoto.isVideo'></i>
      </div>
    </div>
    <div class="carouselOuterTunnel" ng-scroll='dash.scrollFunc()'>
      <div class="carouselTunnel" ng-if='!dash.allPhotosSubmission'>
        <div class="carouselCell" ng-repeat='photo in carouselPhotos' ng-if='photo.status==="submitted for sale" || dash.allSaved'>
          <img src="{{photo.thumbnail}}"alt="" />
        </div>
      </div>
      <div class="carouselTunnel" ng-if='dash.allPhotosSubmission'>
        <div class="carouselCell" ng-repeat='photo in carouselPhotos' >
          <img src="{{photo.thumbnail}}" alt="" />
        </div>
      </div>
    </div>
    <div class="photoMiniWindowHolder">
      <div class="photoMiniWindow"></div>
    </div>
  </div>

  <!-- single submission modal -->
  <div class="singleSubmissionContainer" ng-if='dash.singleSubmissionOpen'>
    <!-- {{dash.activeSubmission}} -->
    <div class="singleSubmissionHeader">
      <div class="singleBack col-xs-4" ng-click='dash.backToList()'>
        <i class='fa fa-chevron-left'></i>Back

      </div>
      <div class="singleSelect col-xs-4 col-xs-offset-4" ng-click='dash.activateSelection()' ng-if='!dash.selectionActive'>
        Select
      </div>
      <div class="singleSelect singleSelected col-xs-4 col-xs-offset-4" ng-if='dash.selectionActive' ng-click='dash.activateSelection()'>
        Select
      </div>
    </div>

    <!-- all photos modal -->
    <div class="singleAllPhotosContainer" ng-if='!dash.allPhotosSubmission'>
      <div class="singlePhotoCell" ng-repeat='photo in dash.activeSubmission.photos'>
        <img src="{{photo.thumbnail}}" class='col-xs-4 col-md-3' ng-if='photo.status==="submitted for sale"' ng-click='dash.photoClickFunc($event, $index)' id="{{photo}}"/>
        <!-- <video src="{{photo.thumbnail | trustUrl}}"  class='col-xs-4 col-md-3' ng-if='photo.isVideo && photo.status==="submitted for sale"' ng-click='dash.photoClickFunc($event)' id='{{photo._id}}'></video> -->
      </div>
    </div>
    <div class="singleAllPhotosContainer" ng-if='dash.allPhotosSubmission'>
      <div class="singlePhotoCell" ng-repeat='photo in dash.activeSubmission.photos'>
        <img src="{{photo.thumbnail}}" class='col-xs-4 col-md-3' ng-click='dash.photoClickFunc($event, $index)' id='{{photo}}'/>
        <!-- <video src="{{photo.thumbnail | trustUrl}}"  class='col-xs-4 col-md-3' ng-if='photo.isVideo && photo.status==="submitted for sale"' ng-click='dash.photoClickFunc($event)' id='{{photo._id}}'></video> -->
      </div>
    </div>

    <div class="singleMetaDataHolder">
      <span class='col-xs-12 submissionWho'>{{dash.activeSubmission.metadata.who}}</span><span class='col-xs-6'>{{dash.activeSubmission.metadata.what}}</span><span class='col-xs-16'>{{dash.activeSubmission.metadata.date.split(',')[0]}}</span>
    </div>
    <div class="savedEmailAll" ng-click='dash.getOldSubmissionPhotos()' ng-if='dash.allPhotosSubmission'>
      Get These Photos
    </div>
    <div class='selectButtonHolder' ng-click='dash.selectionActive' ng-if='dash.selectionActive && !dash.allPhotosSubmission'>
      <span class="rejectButton submitButton col-xs-6" ng-click="dash.saveOrRejectFunc('reject')">Reject All</span>
      <span class="acceptButton submitButton col-xs-6" ng-click='dash.saveOrRejectFunc("save")'>Save All</span>
    </div>
  </div>
  <!-- /////begin repeat -->
  <div class="submissionCell" ng-repeat='submission in dash.allSubmissions' ng-if='dash.submissionsOpen && submission.status==="pending"' ng-click='dash.openSingleSubmission(submission)'>
    <!-- {{submission}} -->
    <div class="submissionImageHolder">
      <img src="{{submission.photos[0].thumbnail}}" alt="" id="{{submission.photos[0]}}"/>
    </div>
    <div class="submissionDataHolder">
      {{submission.metadata.date}}<br>{{submission.metadata.who}}<br>{{submission.metadata.what}}
    </div>
  </div>
  <!-- begin all statuses repeat -->
  <div class="submissionCellAll" ng-repeat='submission in dash.allSubmissions' ng-if='dash.submissionsOpenAll' ng-click='dash.openSingleSubmission(submission)'>
    <!-- {{submission}} -->
    <div class="submissionImageHolder">
      <img src="{{submission.photos[0].thumbnail}}" alt="" id="{{submission.photo[0]}}"/>
    </div>
    <div class="submissionDataHolder">
      {{submission.metadata.date}}<br>{{submission.metadata.who}}<br>{{submission.metadata.what}}
    </div>
  </div>
  <!-- all saved photos modal -->
  <div class="allSavedPhotosContainer" ng-if='dash.allSaved'>
    <div class="singleSubmissionHeader">
      <div class="singleBack col-xs-4" ng-click='dash.backToList()'>
        <i class='fa fa-chevron-left'></i>Back

      </div>
      <div class="singleSelect col-xs-4 col-xs-offset-4" ng-click='dash.activateSelection()' ng-if='!dash.selectionActive'>
        Select
      </div>
      <div class="singleSelect singleSelected col-xs-4 col-xs-offset-4" ng-if='dash.selectionActive' ng-click='dash.activateSelection()'>
        Select
      </div>
    </div>
    <div class="savedPhotosContainer">
      <div class="savedPhotoCell col-xs-4 col-sm-3 col-md-2" ng-repeat='photo in dash.savedPhotos'>
        <img src="{{photo.thumbnail}}" alt="" ng-click='dash.photoClickFunc($event, $index)' id="{{photo}}"/>
      </div>
    </div>
    <div class="savedEmailAll" ng-click='dash.getSavedPhotos(dash.savedPhotos)' ng-if="!dash.selectionActive">
      Get These Photos
    </div>
    <div class="savedEmailAll" ng-click='dash.getSavedSelected()' ng-if="dash.selectionActive">
      Get These Photos
    </div>
  </div>
</div>
