
<div class="purchaseTitle">
  Sold Photos - Send Info
</div>

<input class='purchaseInput col-xs-12 col-sm-8 col-sm-offset-2' id='purchasePhotoId' type="text" name="name" placeholder='photo id'><br>
<input class='purchaseInput col-xs-12 col-sm-8 col-sm-offset-2' id='purchasePhotoPrice' type="text" name="name" placeholder='photo price'><br>
<input class='purchaseInput col-xs-12 col-sm-8 col-sm-offset-2' id='purchasePhotoPublication' type="text" name="name" placeholder='purchaser'><br>
<div class='col-xs-8 col-xs-offset-2' id='purchasePhotoButton' type="button" name="button" ng-click='purchase.sendPhotoPrice()'>Send Sales Info</div>
