html {
  background-color: #A8C4C6;

}

section {
  background-color: #A8C4C6;

}

.noTab {
  background-color: #E25454;
  color: white;
}

.people {
 font-weight: 400;
 color: red;
}

.photosContainer {
  width: 95%;
  margin-left: 2.5%;
}

.photoFrame {
  padding: 10px 0px;
  outline: 2px solid gray;
  height: auto;
  overflow: hidden;
  /*margin-top: 10px;*/
  background-color: #D8D4D4;
}

.photoFrame img{
  width: 70%;
  margin-left: 15%;
  height: auto;
  /*padding: 12px;*/
}

.photoFrame video{
  width: 100%;
  height: 100%;
  padding: 12px;
}

.photoName {
  padding-left: 15px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 5px;
  border: 1px solid #C6C4C4;
  background-color: #B2ABAB;
  color: white;
  font-weight: 200;
}

.photoStreamContainer {
  width: 100%;
  height: 100%;
}

.photoTab {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  background-color: #869091;
  border: 1px solid gray;
  color: white;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}

.popupImageFrame {
  padding: 10px;
  height: auto;

}

.popupImageFrame img{
  width: 75%;
  margin-left: 12.5%;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.popupInfoContainer {
  width: 48%;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  margin-top: 10px;
  padding-bottom: 70px;
  background-color: rgba(0,0,0, 0.3);
  color: white;
  padding-top: 30px;
  border-radius: 10px;

}

.popupInfoContainer p span{
  font-size: 1.2em;
  font-weight: 500;
}

.popupPrice {
  height: 60px;
  font-size: 27px;
  text-align: center;
  background-color: #C0CDCE;
  color: grey;
  margin-top: 65px;
}

.selectionTab {
  height: 100%;
  outline: 2px solid grey;
  border-radius: 5px 5px 5px 5px;
  padding: 0px;
  font-size: 25px;
  padding-top: 12px;
  text-align: center;
}

.singlePhotoFrame {
  height: auto;
  /*margin-top: 100px;*/
  /*outline: 2px solid blue;*/
  background-color: grey;
  padding: 0px;
  margin-top: 25px;
}

.singlePhotoFrame img{
  height: auto;
  width: 50%;
  margin-left: 25%;
  padding: 0px;
}

.singleYesNoContainer {
  height: 80px;
  padding: 0px;
  margin-top: 15px;
  padding-bottom: 25px;
}

.soldPhotosContainer {
  width: 95%;
  margin-left: 2.5%;
}

.soldPriceOverlay {
  position: absolute;
  font-size: 39px;
  background-color: black;
  color: white;
  opacity: 0.3;
  text-align: center;
  padding-top: 70px;
  width: 100%;
  height: 100%;
}

.tabsContainer {
  padding-top: 10px;
  width: 80%;
  margin-left: 10%;
  height: 60px;
}

.xOutPopup {
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.yesNoContainer {
  outline: 2px solid grey;
  border-radius: 10px;
  height: auto;
  margin-top: 10px;
  padding: 0px;
  background: #8c8a89; /* Old browsers */
}

.yesNoPopup {
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #6D7B8D;
  z-index: 5;
}

.yesTab {
  background-color: #7FC17A;

  color: white;
}
